<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.baoti.coding">

    <application
        android:allowBackup="true">
        <service
            android:name=".accounts.CodingAccountAuthenticatorService"
            android:exported="false" >
            <!--android:process=":auth" >-->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/coding_authenticator" />
        </service>
    </application>

</manifest>
